#about {
  padding: 20px 40px 40px 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#site-actions li {
  list-style-type: disc;
  text-align: left;
}

@media screen and (max-width: 480px){
  .about-img {
    width: 160px;
    height: 160px;
   }
  
  .about-video {
    width: 160px;
    height: 160px;
  }
  #about {
    padding: 10px 10px 30px 10px;
  }
  .slider-media {
    padding-bottom: 0px;
  }
  .controls {
    margin-top: -10px;
  }
}

.slider-content {
  display: none;
}

.slider-media {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;

}

.slider-media video{
  background-color: black;
}

.previous, .next {
  cursor: pointer;
  border: 2px solid black;
  background-image: url("../assets/black_arrow.svg");
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
}

.next {
  transform: rotate(180deg);
  margin-left: 20px;
}

.previous {
  margin-right: 20px;
}

.previous:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-text {
  color: black;
  font-size: 15px;
  padding: 0 12px;
  text-align: center;
}

.slider-num {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
}

.circles {
  margin-top: 6px;
}

.circle {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .circle:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}