#account {
  padding: 20px 40px 40px 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.pfp-holder {
  position: relative;
  display: inline-block;

}

.pfp-image {
  display: block;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.pfp-btn {
  z-index: 100;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  position: absolute;
  right: 6px;
  bottom: 6px;
  cursor: pointer;
  background: linear-gradient(134deg, rgba(247, 84, 20, 1) 0%, rgba(128, 0, 128, 1) 100%);
}

.signout-btn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: purple;
  font-size: 1.2rem;
  color: white;
  border-radius: 5px;
  border: 2px solid var(--dark-orange);
  box-shadow: 1px 1px 3px 1px purple;
  padding: 4px 10px;
}

.signout-btn:hover {
  background: linear-gradient(134deg, rgba(247, 84, 20, 1) 0%, rgba(128, 0, 128, 1) 100%);
  border-color: black;
}

