#root {
  display: flex;
  flex-direction: column;;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: black;
  background-color: white;
  background: #F75414;
  background: linear-gradient(134deg, rgba(247, 84, 20, 1) 0%, rgba(128, 0, 128, 1) 100%);
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}



#main {
  flex: 1;
  height: 100%;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}