#map {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

#map-container {
  height: 450px;
  width: 500px;
  border: 6px solid var(--dark-orange);
  box-shadow: 1px 1px 3px 1px purple, -1px -1px 3px 1px purple;
 margin-top: 20px;
 margin-bottom: 30px;
 border-radius: 5px;
}

.pins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pin-title {
  font-size: 1.2rem;
}


@media screen and (min-width: 421px) and (max-width: 678px){
  #map-container{
    width: 75%;
  }
}

@media screen and (max-width: 420px){
  #map-container{
    width: 90%;
  }
}